@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Rajdhani:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Rajdhani:wght@700&display=swap');

.container{
    background-color: #000;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    max-width: 700px;
    margin: auto;
    overflow: hidden;
}

.cover {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cover-photo {
    width: 100%;
    object-fit: cover;
    height: 100%;
    max-width: 700px;
}

.profile{
    background-color: #000;
    width: 150px;
    height: 150px;
    display: flex;
    border-radius: 50%;
    align-self: center;
    justify-content: center;
    margin-top: -90px;
    padding: 10px;

}
.profile-photo {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 10px solid #292929;
    overflow: hidden;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.12);
    z-index: 10;
}

.content-one{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social-midia{
    padding: 10px;
}

.social-midia > a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
}

.content-one > span {
    font-family: 'Inter', sans-serif;
    color: #f0f0f0;
    padding: 10px 0px 10px 0px;
    width: 80%;
    text-align: center;     
}

h1{
    font-size: 36px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
    color: #1c63b7;   
}

h1 > p {
    display: inline-block;
    color: #f89f25;
}

.content-two{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

.content-two > a{
    background-color: #222222;
    width: 80%;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #f1f1f1;
    text-decoration: none;
    margin-bottom: 20px;
}

.content-two > a:hover{
    background-color: #292929;
}

.atention{
    color: #FF406E;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 1rem;
}



/*span{
    
}*/